.header__link {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  color: #ffffff;
  text-decoration: none;
  padding-left: 20px;
}

.header__link:hover {
  opacity: 0.6;
  cursor: pointer;
}