.header {
  margin: 0 auto;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  box-sizing: border-box;
  max-width: 880px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  line-height: 22px;
  color: white;
}