.header__button {
  border: none;
  background-color: transparent;
  color: #a9a9a9;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  transition: 0.2s;
  outline: none;
  cursor: pointer;
  padding: 0;
}